.footer {
  background-color: #44558f;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  padding-left: 30px
}